# Dependencies
node_modules/
package-lock.json

# Build
build/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Temp
.temp/
tmp/
*.tmp

# PWA
platforms/
plugins/
www/

# Coverage
coverage/
